In [1]:
int('123')

123

In [2]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [3]:
print("hello world")

hello world

In [7]:
age = 24
print("My age is : ",age)

My age is :  24

In [9]:
print(f"My age is : {age}")

My age is : 24

In [10]:
a =10
print(f"Number = {a}")

Number = 10

In [11]:
name="harsh"
age =24
print('My name is {} and age is {}'.format(name,age))

My name is harsh and age is 24

In [14]:
print('My name is {firstname} and age is {firstage}'.format(firstage = age,firstname = name))

My name is harsh and age is 24

In [17]:
name ='harsh'
age=24
degree='BTECH'
print(f"My age is {age} and I have completed : my degree of {degree} with the name of {name}")
print("My age is {fage} and I have completed : my degree of {fdegree} with the name of {fname}".format(fage = age,fdegree=degree,fname=name))

My age is 24 and I have completed : my degree of BTECH with the name of harsh
My age is 24 and I have completed : my degree of BTECH with the name of harsh

In [18]:
## if statements
age = 18
if age>=18:
    print('I can Vote')
else:
    print("I cannot")

I can Vote

In [23]:
name= input("Enter the Name:")

Enter the Name: harsh

In [24]:
name

'harsh'

In [25]:
age =int(input("Enter age:"))

Enter age: 12

In [26]:
age

12

In [30]:
age = int(input("enter age "))
if age >=18 and age <=45:
    print("you are a young blood")
else:
    print("you are not a young blood")

enter age  12

you are not a young blood

In [33]:
price = int(input("Product price = "))
if price>1000:
    print("Final Price : {}".format(price*0.8))
else:
    print("Final Price : {}".format(price*0.7))

Product price =  1000

Final Price : 700.0

In [40]:
price = int(input("Product price = "))
if price>3000:
    if price==4000:
        print('gao trip')
    print(f"Final Price : {price*0.8}")
elif price>=2000 and price<=3000:
    if price == 2999:
        print('Additional Gift')
    print(f"Final Price : {price*0.7}")
else:
    print(f"Final Price : {price*0.6}")

Product price =  4000

gao trip
Final Price : 3200.0

In [2]:
## while loop
## continuos iterating function
joining_age = 25

## keep on incremneting joining age
while joining_age<=60:
    joining_age+=1
    print(joining_age)
else:
    print('retire')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
retire

In [4]:
## atm with 1000rs
tot_amt = 1000
while tot_amt !=0:
    print(tot_amt)
    tot_amt-=100
else:
    print('no money')
#

1000
900
800
700
600
500
400
300
200
100
no money

In [1]:
## for loop

## iteration over a loop



lst = ['krish',1,2,3,'apple','banana']

In [2]:
type(lst)

list

In [3]:
lst[4]

'apple'

In [4]:
for x in lst:
    print(x)

krish
1
2
3
apple
banana

In [13]:
fruit = ['c','b','c','d']
for a in fruit:
    print(a)
    if a=='c':
        print('fruit is c')
    break

c
fruit is c

In [15]:
frt = 'mango'
for x in frt:
    print(x)
frt[2]

m
a
n
g
o

'n'

In [16]:
### nested for
n=7

In [19]:
for i in range(1,6,2):
    print(i)

1
3
5

In [22]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [2]:

#versik assessment question

def even(start, n):
    temp = start
    lst = []
    while n>0:
        if temp %2==0:
            lst.append(temp)
        
            n-=1
        temp+=1
    return lst
even(1,5)

[2, 4, 6, 8, 10]

In [5]:
n = 7
for i in range(1,n):
    for j in range(1,i+1):
        print('*',end='')
        # print(j,end='')
    print('\r')

*
**
***
****
*****
******

In [2]:
### \r carriage return


print('Python is included in CodeSpeedy\r123456789')

123456789 included in CodeSpeedy

In [ ]:
## loop controls
## break and continue